hwinfo64_remote_monitor.json
[{"id":"2848eb5e.179df4","type":"tab","label":"work_laptop","disabled":true,"info":""},{"id":"8d57d40a.862c18","type":"http request","z":"2848eb5e.179df4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"192.168.2.207:55555","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":280,"wires":[["644e820e.9413fc","d3d80214.a4cf3","4bbb48fa.652ae8"]]},{"id":"b8c7cc78.6ec54","type":"inject","z":"2848eb5e.179df4","name":"","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":260,"wires":[["8d57d40a.862c18"]]},{"id":"644e820e.9413fc","type":"function","z":"2848eb5e.179df4","name":"","func":"\n//node.warn(`msg.payload.length ${msg.payload.length}`);\nvar Timestamp = new Date();\nfor (var i=0 ; i < msg.payload.length ; i++)\n{\n//node.warn(`i ${i}`);\n    //results.push(msg.payload[i]);\n    if (msg.payload[i][\"SensorName\"] == \"Core 0\") {\n      //var Cpu0tempMsg = {topic:\"nvLaptop/Cpu0tmp\", payload:msg.payload[i][\"SensorValue\"]};\n      var Cpu0tempMsg = {payload:msg.payload[i][\"SensorValue\"]};\n    }\n    if (msg.payload[i][\"SensorName\"] == \"Core 1\") {\n      //node.warn(`found ${msg.payload[i][\"SensorName\"]}`);\n      //node.warn (`sensorvalue ${msg.payload[i][\"SensorValue\"]}`)\n      //var Cpu1tempMsg = {topic:\"nvLaptop/Cpu1tmp\", payload:msg.payload[i][\"SensorValue\"]};\n      var Cpu1tempMsg = {payload:msg.payload[i][\"SensorValue\"]};\n    }\n    if (msg.payload[i][\"SensorName\"] == \"CPU Package\") {\n      //node.warn(`found ${msg.payload[i][\"SensorName\"]}`);\n      //node.warn (`sensorvalue ${msg.payload[i][\"SensorValue\"]}`)\n      //var CpuPkgMsg = {topic:\"nvLaptop/CpuPkgtmp\", payload:msg.payload[i][\"SensorValue\"]};\n      var CpuPkgMsg = {payload:msg.payload[i][\"SensorValue\"]};\n    }\n    if (msg.payload[i][\"SensorName\"] == \"CPU\") {\n      //var PchTempMsg = {topic:\"nvLaptop/CpuFanRpm\", payload:msg.payload[i][\"SensorValue\"]};\n      var FanRpmMsg = {payload:msg.payload[i][\"SensorValue\"]};\n    }\n    \n    if (msg.payload[i][\"SensorName\"] == \"PCH Temperature\") {\n      //var PchTempMsg = {topic:\"nvLaptop/Pchtmp\", payload:msg.payload[i][\"SensorValue\"]};\n      var PchTempMsg = {payload:msg.payload[i][\"SensorValue\"]};\n    }\n    if (msg.payload[i][\"SensorName\"] == \"Core Thermal Throttling\") {\n      var CpuThrmThrottle;\n      //node.warn(`found ${msg.payload[i][\"SensorName\"]}`);\n      //node.warn (`sensorvalue ${msg.payload[i][\"SensorValue\"]}`)\n      //var CpuThrmThrottle = {topic:\"nvLaptop/CTT\", payload:msg.payload[i][\"SensorValue\"]};\n      if (msg.payload[i][\"SensorValue\"] == \"0\") {\n        CpuThrmThrottle = {payload:\"false\"};\n      } else {\n        CpuThrmThrottle = {payload:\"true\"};\n      }\n    }\n    \n    \n    \n    \n}\nvar logging_array = [Timestamp.toLocaleString('en-US', {timeZone: 'America/Los_Angeles'}), Cpu0tempMsg.payload,Cpu1tempMsg.payload, CpuPkgMsg.payload, FanRpmMsg.payload, PchTempMsg.payload, CpuThrmThrottle.payload ];\nvar loggingMsg = {payload:logging_array};\n\nreturn [Cpu0tempMsg, Cpu1tempMsg, CpuPkgMsg, FanRpmMsg, PchTempMsg, CpuThrmThrottle, loggingMsg ];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":780,"y":380,"wires":[["73128f8d.ac447"],["ea45def.73b472"],["6c6a1e50.7c6e1"],["799519c0.5eb428"],["1830093f.78c2f7"],["2c7609e1.f67136"],["26e2d87d.194a78"]]},{"id":"26e2d87d.194a78","type":"GSheet","z":"2848eb5e.179df4","creds":"e21f03ec.823c2","method":"append","action":"","sheet":"1agwWJCM3LOxcgkGG6nqxEK2I-kGt4rbAZ4jKLOrcgQs","cells":"logs","flatten":false,"name":"","x":1010,"y":660,"wires":[[]]},{"id":"73128f8d.ac447","type":"ui_artlessgauge","z":"2848eb5e.179df4","group":"e17975b4.c37128","order":3,"width":0,"height":0,"name":"core 0","icon":"","label":"core 0 temp","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":30,"col":"#ff0000","t":"min","dot":0},{"val":80,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":870,"y":260,"wires":[]},{"id":"ea45def.73b472","type":"ui_artlessgauge","z":"2848eb5e.179df4","group":"e17975b4.c37128","order":4,"width":0,"height":0,"name":"core 1","icon":"","label":"core 1 temp","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":30,"col":"#ff0000","t":"min","dot":0},{"val":80,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":950,"y":300,"wires":[]},{"id":"6c6a1e50.7c6e1","type":"ui_artlessgauge","z":"2848eb5e.179df4","group":"e17975b4.c37128","order":5,"width":0,"height":0,"name":"package","icon":"","label":"CPU package temp","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":30,"col":"#ff0000","t":"min","dot":0},{"val":80,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":980,"y":340,"wires":[]},{"id":"1830093f.78c2f7","type":"ui_artlessgauge","z":"2848eb5e.179df4","group":"e17975b4.c37128","order":6,"width":0,"height":0,"name":"PCH","icon":"","label":"PCH temp","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":30,"col":"#ff0000","t":"min","dot":0},{"val":80,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1050,"y":420,"wires":[]},{"id":"799519c0.5eb428","type":"ui_gauge","z":"2848eb5e.179df4","name":"","group":"e17975b4.c37128","order":7,"width":0,"height":0,"gtype":"gage","title":"fan RPM","label":"units","format":"{{value}}","min":0,"max":"3500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":380,"wires":[]},{"id":"2c7609e1.f67136","type":"ui_led","z":"2848eb5e.179df4","order":2,"group":"e17975b4.c37128","width":0,"height":0,"label":"below thermal limits","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"false","valueType":"str"},{"color":"#fa0000","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"CTT","x":1150,"y":500,"wires":[]},{"id":"d3d80214.a4cf3","type":"moment","z":"2848eb5e.179df4","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"dd MM-DD HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"US/Pacific","x":460,"y":100,"wires":[["829fa338.ebcdb"]]},{"id":"829fa338.ebcdb","type":"ui_text","z":"2848eb5e.179df4","group":"e17975b4.c37128","order":1,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":670,"y":100,"wires":[]},{"id":"b79d4101.e1058","type":"GSheet","z":"2848eb5e.179df4","creds":"e21f03ec.823c2","method":"append","action":"","sheet":"1agwWJCM3LOxcgkGG6nqxEK2I-kGt4rbAZ4jKLOrcgQs","cells":"throttle events","flatten":false,"name":"","x":1270,"y":180,"wires":[[]]},{"id":"4bbb48fa.652ae8","type":"function","z":"2848eb5e.179df4","name":"","func":"var Timestamp = new Date();\nfor (var i=0 ; i < msg.payload.length ; i++)\n{\n    if (msg.payload[i][\"SensorName\"] == \"Core Thermal Throttling\") {\n      var CpuThrmThrottle;\n      //node.warn(`found ${msg.payload[i][\"SensorName\"]}`);\n      //node.warn (`sensorvalue ${msg.payload[i][\"SensorValue\"]}`)\n      //var CpuThrmThrottle = {topic:\"nvLaptop/CTT\", payload:msg.payload[i][\"SensorValue\"]};\n      if (msg.payload[i][\"SensorValue\"] == \"0\") {\n        CpuThrmThrottle = {payload:\"false\"};\n        return [{payload:Timestamp.toLocaleString('en-US', {timeZone: 'America/Los_Angeles'})}, null];\n      } else {\n        return [null, {payload:Timestamp.toLocaleString('en-US', {timeZone: 'America/Los_Angeles'})}];\n      }\n    }\n}\n\nreturn CpuThrmThrottle;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[[],["b79d4101.e1058"]]},{"id":"e21f03ec.823c2","type":"gauth"},{"id":"e17975b4.c37128","type":"ui_group","name":"health","tab":"82e6f011.96aac","order":1,"disp":true,"width":"4","collapse":false},{"id":"82e6f011.96aac","type":"ui_tab","name":"work laptop","icon":"dashboard","order":8,"disabled":false,"hidden":false}]